:root {
    --grisReact: #21232A;
    --azulReact: #00b3e6;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background: rgba(133,173,204,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(133,173,204,1) 0%, rgba(33,35,42,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(133,173,204,1)), color-stop(100%, rgba(33,35,42,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(133,173,204,1) 0%, rgba(33,35,42,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(133,173,204,1) 0%, rgba(33,35,42,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(133,173,204,1) 0%, rgba(33,35,42,1) 100%);
    background: radial-gradient(ellipse at center, rgba(133,173,204,1) 0%, rgba(33,35,42,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85adcc', endColorstr='#21232a', GradientType=1 );
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh; 
}

.content {
    /* se habilita el scroll vertical */
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    /* solo oculta su visualizacion */
    display: none;
}

.gif-expert-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.main-title {
    background-color: var(--grisReact);
    border: 5px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    width: 90%;
}

.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 10vmin;
    pointer-events: none;
}

.main-title h2 {
    transform: scale(1.5);
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

h2 {
    text-align: center;
}

hr {
    border: 2px solid var(--azulReact);
    width: 90%
}

form {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 90%;
}

input {
    border: 2px solid gray;
    border-radius: 5px;
    color: var(--grisReact);
    font-size: 1.2rem;
    height: 40px;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

input:focus {
    border: 2px solid var(--azulReact);
}

ol {
    margin: 0;
    padding: 0;
}

.card-grid {
    display: grid;
    grid-gap: 20px;
}

/* .category {
    margin: 0 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 20px;
    max-width: 1200px;
}

.card {
    align-content: center;
    background-color: var(--grisReact);
    border: 5px solid var(--grisReact);
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
} */

/* @media only screen and (min-width: 480px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
} */

/* 
@media only screen and (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media only screen and (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr); 
        grid-auto-rows: 250px; /* [3] Set the height for implicitly-created row track */
    }
}