.auth__main {
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.auth__box-container {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 3px $dark-grey;
    padding: 20px;
    width: 250px;
}