// Colors
$grisReact: #21232A;
$azulReact: #00b3e6;
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
// Size of Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;